// Some Compass modules
@import "compass/css3";

// Some really awesome vendors
@import "normalize";
@import "font-awesome/font-awesome";

// The core and heart of Simple
@import "simple/_globals";
@import "simple/_mixins";
@import "simple/_settings";

// Control variables. Which modules do you want to include?
$include-scaffolding : true;
$include-utilities   : true;
$include-flexgrid    : true;
$include-type        : true;
$include-cover       : true;
$include-alerts      : true;
$include-buttons     : true;
$include-button-groups: true;

// Here's where the magic of Simple truly begins!
@import "simple/_scaffolding";
@import "simple/_utilities";
@import "simple/_flexgrid";
@import "simple/_type";
@import "simple/_cover";
@import "simple/_alerts";
@import "simple/_buttons";
@import "simple/_button-groups";

// Put your custom SASS code here
@import "simple/_custom";
