@include exports("buttons") {
  @if $include-buttons {

    button,
    .button {
      @include button-base();

      // Sizes
      &.xsmall { @include button-size($button-xsmall-padding, $button-xsmall-font-size); }
      &.small { @include button-size($button-small-padding, $button-small-font-size); }
      &.medium { @include button-size($button-medium-padding, $button-medium-font-size); }
      &.large { @include button-size($button-large-padding, $button-large-font-size); }
      &.xlarge { @include button-size($button-xlarge-padding, $button-xlarge-font-size); }
      &.xxlarge { @include button-size($button-xxlarge-padding, $button-xxlarge-font-size); }

      // Setting the colors
      &.primary { @include make-button($button-primary-bg); }
      &.secundary { @include make-button($button-secundary-bg); }
      &.info { @include make-button($button-info-bg); }
      &.warning { @include make-button($button-warning-bg); }
      &.success { @include make-button($button-success-bg); }
      &.danger { @include make-button($button-danger-bg); }
      &.default { @include make-button($button-default-bg); }

      // Special link button
      &.link {
        color: $anchor-font-color;
        background-color: transparent;
        text-decoration: $anchor-text-decoration;

        &:hover,
        &:focus {
          color: darken($anchor-font-color, $button-hover-factor);
          background-color: transparent;

          @if $anchor-text-decoration-hover != $anchor-text-decoration {
            text-decoration: $anchor-text-decoration-hover;
          }
        }

        &.disabled,
        &[disabled],
        fieldset[disabled] & {
          pointer-events: none;
          @include opacity($button-disabled-opacity);
          @include box-shadow(none);
        }
      }

      // Block button
      &.block {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

  }
}
