.column,
.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: $column-top-padding rem($column-gutter / 2) $column-bottom-padding;
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .row {
    margin-left: rem($column-gutter / -2);
    margin-right: rem($column-gutter / -2);
  }
}

.container {
  width: 100%;
  background-color: $container-bg;
  overflow: hidden;
  padding-left: rem($column-gutter / 2);
  padding-right: rem($column-gutter / 2);
  @include clearfix();

  .row {
    margin-left: rem($column-gutter / -2);
    margin-right: rem($column-gutter / -2);
  }

  @media #{$small-up} {
    width: $container-small;
  }

  @media #{$medium-up} {
    width: $container-medium;
  }

  @media #{$large-up} {
    width: $container-large;
  }
}

@media #{$xsmall-up} {
  @include make-grid($size: $xsmall-name);
}

@media #{$small-up} {
  @include make-grid($size: $small-name);
}

@media #{$medium-up} {
  @include make-grid($size: $medium-name);
}

@media #{$large-up} {
  @include make-grid($size: $large-name);
}

@media #{$xlarge-up} {
  @include make-grid($size: $xlarge-name);
}

@media #{$print} {
  @include make-grid($size: $print-name);
}
