// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 16px !default;

// Those variables works with rem and em functions
$rem-base: $base-font-size !default;
$em-base: $base-font-size !default;
$px-only: false;
