@function column-width($columnNumber, $totalColumns) {
  @return percentage($columnNumber / $totalColumns);
}

@mixin make-column($column, $totalColumns) {
  width: column-width($column, $totalColumns);
}

@mixin make-columns($size, $totalColumns: $total-columns) {
  .column,
  .columns {
    &.#{$size}-centered {
      margin-left: auto;
      margin-right: auto;
      float: none !important;
    }

    &.#{$size}-uncentered {
      margin-left: 0;
      margin-right: 0;
      float: left !important;
    }

    &.#{$size}-uncentered.opposite {
      float: right;
    }
  }

  @for $i from 1 through $totalColumns {
    .#{$size}-#{$i} { @include make-column($column: $i, $totalColumns: $totalColumns); }
  }

  @for $i from 1 through $totalColumns - 1 {
    .#{$size}-offset-#{$i} { margin-left: column-width($i, $totalColumns); }

    .#{$size}-push-#{$i} {
      left: column-width($i, $totalColumns);
      right: auto;
    }

    .#{$size}-pull-#{$i} {
      right: column-width($i, $totalColumns);
      left: auto;
    }
  }
}

@mixin make-row($nested: false) {
  margin-top: 0;
  margin-bottom: 0;

  @if $nested == false {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @else {
    width: auto;
    margin-left: rem($column-gutter / -2);
    margin-right: rem($column-gutter / -2);
  }

  // Clearfix for all rows
  @include clearfix();
}

.row {
  @include make-row();

  &.collapse {
    > .column,
    > .columns  {
      padding-left: 0;
      padding-right: 0;

      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .row {
    @include make-row($nested: true);
  }
}

.column,
.columns {
  padding-right: rem($column-gutter / 2);
  padding-left: rem($column-gutter / 2);
  float: left;
  overflow: hidden;
}

.container {
  width: 100%;
  overflow: hidden;
  padding-left: rem($column-gutter / 2);
  padding-right: rem($column-gutter / 2);
  @include clearfix();

  .row {
    @include make-row($nested: true);
  }

  &.centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  &.uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  &.uncentered.opposite {
    float: right;
  }

  @media #{$small-up} {
    width: $container-small;
  }

  @media #{$medium-up} {
    width: $container-medium;
  }

  @media #{$large-up} {
    width: $container-large;
  }
}

@media #{$xsmall-up} {
  @include make-columns($size: xsmall);
}

@media #{$small-up} {
  @include make-columns($size: small);
}

@media #{$medium-up} {
  @include make-columns($size: medium);
}

@media #{$large-up} {
  @include make-columns($size: large);
}

@media #{$xlarge-up} {
  @include make-columns($size: xlarge);
}
