// Some Compass modules
@import "mixins/_rem";
@import "mixins/_clearfix";
@import "mixins/_flexgrid";
@import "mixins/_buttons";
@import "mixins/_cover";

$modules: () !default;
@mixin exports($name) {
  @if (index($modules, $name) == false) {
    $modules: append($modules, $name);
    @content;
  }
}

// Text color
@mixin color-variant($color) {
  color: $color !important;
}

// bg color
@mixin bg-variant($bg, $color-alt: $font-color-alt) {
  $color: #fff;

  @if lightness($bg) > 49 {
    $color: $color-alt;
  }

  background-color: $bg !important;
  color: $color !important;
}
