// Some Compass modules
@import "mixins/_rem";
@import "mixins/_clearfix";
@import "mixins/_flexgrid";
@import "mixins/_cover";

// Text color
@mixin color-variant($color) {
  color: $color !important;
}

// bg color
@mixin bg-variant($bg-color, $color: inherit) {
  background-color: $bg-color !important;
  color: $color !important;
}
