@include exports("scaffolding") {
  @if $include-scaffolding {

    html, body {
      height: 100%;
      font-size: $base-font-size;
      // Fixing collapsing margins
      // overflow: auto;
      -webkit-font-smoothing: $font-smoothing;
      -webkit-text-size-adjust: auto;
      -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
      -o-text-size-adjust: auto;
      text-size-adjust: auto;
      -webkit-tap-highlight-color: $selection-bg;
    }

    // Set box-sizing globally to handle padding and border widths
    *,
    *:before,
    *:after {
      @include box-sizing(border-box);
    }

    // Default body styles
    body {
      background: $body-bg;
      color: $body-font-color;
      padding: $body-padding;
      margin: $body-margin;
      font-family: $body-font-family;
      font-weight: $body-font-weight;
      font-style: $body-font-style;
      line-height: 1;
      cursor: $cursor-default-value;
      position: relative;
      -moz-osx-font-smoothing: grayscale;
    }

    // Selection
    ::selection {
        background: $selection-bg;
        color: $selection-font-color;
        text-shadow: none;
    }
    ::-moz-selection {
        background: $selection-bg;
        color: $selection-font-color;
        text-shadow: none;
    }
    img::selection { background: transparent; }
    img::-moz-selection { background: transparent; }

  }
}
