// +++++
// Scaffolding
// +++++

// Grays
// $darker-gray-color: #1e1e1e !default;
// $dark-gray-color: #2a2a2b !default;
// $gray-color: #2d2f31 !default;
// $light-gray-color: #333537 !default;
// $lighter-gray-color: #3f4649 !default;

// We use these as default colors throughout
$primary-color: #2980b9 !default; // #0CBF84 //#16a085
$secundary-color: #2d2f31 !default;
$default-color: #f4f4f4 !default;
$info-color: #00A9EC !default;
$danger-color: #cf280e !default;
$warning-color: #E76F00 !default;
$success-color: #159E31 !default;
$muted-color: #999 !default;

// Contrast colors
$primary-contrast-color: #fff !default;
$secundary-contrast-color:#eee !default;
$default-contrast-color: inherit !default;
$info-contrast-color: #fff !default;
$danger-contrast-color: #fff !default;
$warning-contrast-color: #fff !default;
$success-contrast-color: #fff !default;
$muted-contrast-color: #fff !default;

// We use these to define body style
$body-bg: #FFF !default;
$container-bg: $body-bg !default;
$body-font-color: #666 !default;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;
$body-padding: 0 !default;
$body-margin: 0 !default;

// Selection colors
$selection-bg: $secundary-color !default;
$selection-font-color: #fff !default;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5 !default;

// We use this to control font-smoothing
$font-smoothing: antialiased !default;

// We use this as cursors values for enabling the option of having custom cursors in the whole site's stylesheet
$cursor-crosshair-value: crosshair !default;
$cursor-default-value: default !default;
$cursor-pointer-value: pointer !default;
$cursor-help-value: help !default;
$cursor-text-value: text !default;





// +++++
// Utilities
// +++++

// We use these to make sure border radius matches unless we want it different.
$global-radius: 5px !default;
$global-rounded: 13986px !default;
$global-circle: 50% !default;

// This is the global margin bottom used for almost every element
$global-margin-bottom: rem(16px) !default;





// +++++
// Type
// +++++

// We use these to style anchors
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: none !default;
$anchor-font-color: $primary-color !default;
$anchor-font-color-hover: darken($anchor-font-color, 10%) !default;
$anchor-transition-time: .25s !default;

// We use these to control header font styles
$header-font-family: $body-font-family !default;
$header-font-weight: normal !default;
$header-font-style: normal !default;
$header-font-color: #222 !default;
$header-line-height: 1.1 !default;
$header-top-margin: 0 !default;
$header-bottom-margin: $global-margin-bottom !default;
$header-text-rendering: optimizeLegibility !default;
$header-word-wrap: break-word !default;

// We use these to control header font sizes
// Modular scale: 16px @ 1:1.333
$h1-font-size: rem(50.517px) !default;
$h2-font-size: rem(37.897px) !default;
$h3-font-size: rem(28.43px) !default;
$h4-font-size: rem(21.328px) !default;
$h5-font-size: rem(16px) !default;
$h6-font-size: rem(12.003px) !default;

// This sizes are for big headings helpers
$xlarge-font-size: rem(67.339px) !default;
$xxlarge-font-size: rem(89.763px) !default;

// Custimizing letter spacing for each header (px)
$h1-letter-spacing: 0 !default;
$h2-letter-spacing: 0 !default;
$h3-letter-spacing: 0 !default;
$h4-letter-spacing: 0 !default;
$h5-letter-spacing: 0 !default;
$h6-letter-spacing: 0 !default;
$xlarge-letter-spacing: 0 !default;
$xxlarge-letter-spacing: 0 !default;

// These control how subheaders are styled.
$subheader-line-height: 1.4 !default;
$subheader-font-color: lighten($header-font-color, 35%) !default;
$subheader-font-weight: normal !default;
$subheader-top-margin: 0 !default;
$subheader-bottom-margin: $global-margin-bottom !default;

// This control the page headers class
$page-header-line-height: 1.4 !default;
$page-header-border: 1px solid #eee !default;
$page-header-bottom-margin: $global-margin-bottom !default;

// A general <small> styling
$small-font-size: 65% !default;
$small-font-color: lighten($header-font-color, 45%) !default;

// We use these to style paragraphs
$paragraph-font-family: inherit !default;
$paragraph-font-weight: normal !default;
$paragraph-font-color: $body-font-color !default;
$paragraph-font-size: $base-font-size !default;
$paragraph-line-height: 1.5 !default;
$paragraph-margin-bottom: $global-margin-bottom !default;
$paragraph-text-rendering: optimizeLegibility !default;
$lead-scale: 140% !default;
$lead-line-height: 1.6 !default;
$lead-font-color: darken($paragraph-font-color, 15%) !default;

// We use these to style <code> tags
$code-color: darken($danger-color, 5%) !default;
$code-font-family: 'Source Code Pro', Monaco, Consolas, 'Lucida Console', 'Liberation Mono', Courier, monospace !default;
$code-font-weight: bold !default;
$code-bg: #FFFEEE !default;
$code-padding: rem(2px 4px) !default;
$code-font-size: 95% !default;

// We use these to style <pre> tags
$pre-color: darken($danger-color, 5%) !default;
$pre-font-family: 'Source Code Pro', Monaco, Consolas, 'Lucida Console', 'Liberation Mono', Courier, monospace !default;
$pre-font-weight: normal !default;
$pre-display: block !default;
$pre-padding: rem(15px) !default;
$pre-margin-bottom: $global-margin-bottom !default;
$pre-line-height: $paragraph-line-height !default;
$pre-bg: #FFFEEE !default;
$pre-border: none !default;

// We use these to style the <hr> element
$hr-border-width: 1px !default;
$hr-border: $hr-border-width solid #ddd !default;
$hr-margin: rem(20px) !default;

// We use these to style lists
$list-font-family: $paragraph-font-family !default;
$list-font-size: $paragraph-font-size !default;
$list-line-height: $paragraph-line-height !default;
$list-margin-bottom: $paragraph-margin-bottom !default;
$list-style-position: outside !default;
$list-side-margin: 1.1rem !default;
$list-ordered-side-margin: 1.4rem !default;
$list-side-margin-no-bullet: 0 !default;
$list-nested-margin: rem(20px) !default;
$definition-list-header-weight: bold !default;
$definition-list-header-margin-bottom: ($global-margin-bottom / 2) !default;
$definition-list-margin-bottom: rem(12px) !default;

// We use this to control the margins and padding of the inline list.
$inline-list-top-margin: 0 !default;
$inline-list-opposite-margin: 0 !default;
$inline-list-bottom-margin: rem(17px) !default;
$inline-list-default-float-margin: rem(-22px) !default;
$inline-list-default-float-list-margin: rem(22px) !default;
$inline-list-padding: 0 !default;

// We use this to control the overflow of the inline list.
$inline-list-overflow: hidden !default;

// We use this to control the list items
$inline-list-display: block !default;

// We use this to control any elments within list items
$inline-list-children-display: block !default;
$inline-list-children-padding: 0 !default;

// We use these to style blockquotes
$blockquote-font-color: lighten($header-font-color, 45%) !default;
$blockquote-padding: rem(9px 20px) !default;
$blockquote-border: 1px solid #ddd !default;
$blockquote-cite-font-size: rem(13px) !default;
$blockquote-cite-font-color: lighten($header-font-color, 10%) !default;
$blockquote-cite-link-color: $blockquote-cite-font-color !default;

// Acronym styles
$acronym-underline: 1px dotted #ddd !default;
$acronym-font-size: 90% !default;




// +++++
// Alerts
// +++++

// We use this to control alert padding.
$alert-padding: rem(12px);

// We use these to control text style.
$alert-font-weight: bold;
$alert-font-size: rem($base-font-size - 1);

// We use this for close hover effect.
$alert-opacity: 0.6;

// We use these to control border styles.
$alert-border: 1px solid;
$alert-bottom-margin: rem(20px);




// +++++
// Buttons
// +++++

// We use these to build padding for buttons.
$button-default-padding: rem(9px 18px) !default;
$button-small-padding: rem(9px 18px) !default;
$button-large-padding: rem(9px 18px) !default;
$button-xlarge-padding: rem(9px 18px) !default;
$button-xxlarge-padding: rem(9px 18px) !default;

// We use this to control the display property.
$button-display: inline-block !default;
$button-margin-bottom: $global-margin-bottom !default;
$button-cursor: $cursor-pointer-value !default;

// We use these to control button text styles.
$button-font-family: $body-font-family !default;
$button-font-weight: normal !default;
$button-font-align: center !default;

// Font sizes
$button-font-default: rem($base-font-size - 1) !default;
$button-font-small: rem($base-font-size - 1) !default;
$button-font-large: rem($base-font-size - 1) !default;
$button-font-xlarge: rem($base-font-size - 1) !default;
$button-font-xxlarge: rem($base-font-size - 1) !default;

// We use these to control various hover effects.
$button-hover-factor: 10% !default;

// We use these to control button border styles.
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-color-factor: 5%;

// Background and font colors
$button-primary-bg: $primary-color !default;
$button-primary-font-color: $primary-contrast-color !default;

$button-secundary-bg: $secundary-color !default;
$button-secundary-font-color: $secundary-contrast-color !default;

$button-info-bg: $info-color !default;
$button-info-font-color: $info-contrast-color !default;

$button-warning-bg: $warning-color !default;
$button-warning-font-color: $warning-contrast-color !default;

$button-success-bg: $success-color !default;
$button-success-font-color: $success-contrast-color !default;

$button-default-bg: $default-color !default;
$button-default-font-color: $default-contrast-color !default;

$button-danger-bg: $danger-color !default;
$button-danger-font-color: $danger-contrast-color !default;

// We use this to set default opacity for disabled buttons.
$button-disabled-opacity: 0.65 !default;




// +++++
// Grid
// +++++
// Stats from: http://gs.statcounter.com/#resolution-ww-monthly-201306-201405-bar

// Grid general info
$column-gutter: 30px !default;
$column-top-padding: 0 !default;
$column-bottom-padding: 0 !default;
$total-columns: 12 !default;

// Media Query Ranges:

// from smartphones to tablets
$xsmall-name: xsmall !default;
$xsmall-range-min: em(480px);
$xsmall-range-max: em(767px);

// from tablets
$small-name: small !default;
$small-range-min: em(768px);
$small-range-max: em(991px);

// from old computers
$medium-name: medium !default;
$medium-range-min: em(992px);
$medium-range-max: em(1024px);

// from old computers to widescreen laptops
$large-name: large !default;
$large-range-min: em(1025px);
$large-range-max: em(1440px);

// from widescreen laptops to HD resolutions
$xlarge-name: xlarge !default;
$xlarge-range-min: em(1441px);
$xlarge-range-max: em(1920px);

// Container sizes
$container-small: em(750px);
$container-medium: em(960px);
$container-large: em(1200px);

// Media queries:
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (min-width: #{$xsmall-range-min}) and (max-width: #{$xsmall-range-max})" !default;

$small-up: "#{$screen} and (min-width:#{$small-range-min})" !default;
$small-only: "#{$screen} and (min-width:#{$small-range-min}) and (max-width:#{$small-range-max})" !default;

$medium-up: "#{$screen} and (min-width:#{$medium-range-min})" !default;
$medium-only: "#{$screen} and (min-width:#{$medium-range-min}) and (max-width:#{$medium-range-max})" !default;

$large-up: "#{$screen} and (min-width:#{$large-range-min})" !default;
$large-only: "#{$screen} and (min-width:#{$large-range-min}) and (max-width:#{$large-range-max})" !default;

$xlarge-up: "#{$screen} and (min-width:#{$xlarge-range-min})" !default;
$xlarge-only: "#{$screen} and (min-width:#{$xlarge-range-min}) and (max-width:#{$xlarge-range-max})" !default;



// +++++
// Print
// +++++

// Media query
$print: "only print" !default;

// Grid name
$print-name: print !default;




// +++++
// Cover
// +++++

//
$cover-height: 100% !default;
$cover-background-repeat: no-repeat !default;
$cover-background-attachment: fixed !default;
$cover-background-position: 50% 50% !default;
$cover-background-size: cover !default;
