@include exports("utilities") {
  @if $include-utilities {

    .pull-left { float: left !important; }
    .pull-right { float: right !important; }

    .centered {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .clearfix { @include clearfix(); }

    .rounded { @include border-radius($global-rounded); }
    .radius { @include border-radius($global-radius); }
    .circle { @include border-radius($global-circle); }

    .show { display: block !important; }
    .hidden, .hide { display: none !important; visibility: hidden !important; }
    .invisible { visibility: hidden; }

    .hug { margin-top: 0 !important; }

  }
}
