@mixin button-base() {
  outline: none;
  padding: $button-medium-padding;
  margin-bottom: $button-margin-bottom;
  display: $button-display;
  font-size: $button-medium-font-size;
  border: $button-border-width $button-border-style transparent;
  white-space: nowrap;
  font-weight: $button-font-weight;
  text-align: $button-font-align;
  cursor: $button-cursor;
  background-image: $button-background-image;
  text-rendering: $button-text-rendering;
  -webkit-font-smoothing: $font-smoothing;
  vertical-align: middle;
  line-height: $button-line-height;
  @include single-transition(all, $button-transition-time);

  // Default style. This will be applied when there is not a
  // type of button selected
  background-color: #DDD;
  color: #666;

  &:hover {
    color: #666;
  }
}

@mixin button-outline($color) {
  $bg: #fff;
  $bg-hover: $color;
  $border-hover: $color;
  $color-hover: #fff;

  @if lightness($color) > 49% {
    $color: $button-font-colot-alt;
    $border-hover: $button-font-colot-alt;
    $color-hover: $button-font-colot-alt;
  }

  &.outline {
    color: $color;
    border-color: $color;
    background-color: $bg;

    &:hover,
    &:focus {
      background-color: $bg-hover;
      border-color: $border-hover;
      color: $color-hover;
    }

    &.transparent {
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: $bg-hover;
        border-color: $border-hover;
        color: $color-hover;
      }
    }
  }
}

@mixin button-variant($bg) {
  $border: darken($bg, $button-border-color-hover-factor);
  $border-hover: darken($bg, $button-border-color-hover-factor);
  $bg-hover: darken($bg, $button-hover-factor);
  $color: #fff;

  @if lightness($bg) > 49% {
    $color: $button-font-colot-alt;
  }

  color: $color;
  border-color: $border;
  background-color: $bg;

  &:hover,
  &:focus {
    color: $color;
    background-color: $bg-hover;
    border-color: $border-hover;
  }

  &:active,
  &.active {
    color: $color;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none;
    @include opacity($button-disabled-opacity);
    @include box-shadow(none);
  }

  @include button-outline($bg);
}

@mixin button-size($padding, $font-size) {
  padding: $padding;
  font-size: $font-size;
}
